body{
    padding: 20px;
}

img{
    width: 50%;
    /* height: 80%; */
    object-fit: cover;
}

#Screen{
    display: flex;
    justify-content: space-around;
    
}

#Board{
    display: grid;
    grid-template-columns: repeat(10, 75px);
    grid-template-rows: repeat(10, 55px);

    max-width: 100vh;
    gap: 0px;

    border: 2px solid black;
    padding: 30px;
}

.board-card{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0px;
    border: 2px solid black;
    width: 40px;
    height: 60px;
}

#MyCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 140px;
    gap: 10px;

    border: 2px solid black;
    padding: 10px;
}

.my-card{
    width: 60px;

    border: 2px solid black;
}

.p1-token{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Adjust to true center */
    width: 15px; 
    height: 15px;
    display: none;
    background-color: green;
    border-radius: 50%;
    z-index: 3;
    border: 1px solid black;
}

.p1-token-visible{
    display: block;
}

.p1-token-in-sequence{
    position: absolute;
    top: 0;
    left: 0;
    /* transform: translate(-50%, -50%); Adjust to true center */
    width: 60px;
    height: 40px;
    border: 2px solid black;

    display: none;
    background-color: lightgreen;
    z-index: 2;
    /* border: 1px solid black; */
}

.cell-content{
    position: relative;
    display: flex;
    justify-content: center;
    /* border: 2px solid gold; */
}

.set-border-gold{
    border: 2 px solid gold;
}